<nav class="navbar navbar-expand-lg navbar-light bg-dark">

    <div class="flex justify-content-center collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <select class="form-control" id="sel1">
                        <option>holberton-system_engineering-devops</option>
                        <option>holbertonschool-low_level_programming</option>
                        <option>holbertonschool-higher_level_programming</option>
                    </select>
                </li>
                <li class="nav-item ml-2">
                    <input class="form-control mr-sm-2" type="search" placeholder="Directory" aria-label="Search">
                </li>
                <li class="nav-item ml-2">
                    <input class="form-control mr-sm-2" type="search" placeholder="File" aria-label="Search">
                </li>
            </ul>
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>